body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    color: #304871;
    margin: 50px;
}

.logo {
    max-width: 130px;
    max-height: 130px;
    margin-left: 20px;
    margin: 0 auto;
}

.itens-menu {
    float: right;
    display: block;
    text-align: right;
}

.item-menu {
    font-weight: 500;
    color: #304871;
    margin-right: 5px;
    text-decoration: none;
}

.icone {
    color: #304871;
    font-size: large;
    margin: 0 auto;
    padding-top: 10px;
}

.titulo {
    color: #304871;
    margin: 0 auto;
    text-align: center;
}

.box-home {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-home {
    width: 30px; 
    border-color: #f89c9c;
    margin: 20px;
    background-color: #f89c9c;
}

.item-home:hover {
    background-color: #99fae581;
}

.menu {
    /* background-image: linear-gradient(to right, #F8E356 , #FF4F8B, #E3B1F6); */
    background-image: linear-gradient(to right, #D3F5CF , #A8DBFA, #625ee2c0);
}